# MISC FOLDERS
about/
pdf/
invoice/

# MISC FILES
/*/try.js
noder.js
try.js
export-module.js

# ENV FILES
.env

# OLD CODE
server/
api/check-package.json

# NPM
node_modules/
package-lock.json

# TESTS
test/
