body {
  font-size: 3vmin;
  color: #000;
}
.whichMonth-form {
  position: absolute; left: 30vw; top: 2vh;
}
.whichMonth-input-select {
  width: 24vw; height: 7vh;
  padding: 2vmin;
  background-color: #F0F0F0;
  border: none; outline: none;
  font-size: 2.5vmin;
}
.whichMonth-submit {
  width: 10vw; height: 5vh;
  background-color: #2471A3;
  color: #FFF;
  border: none; outline: none;
  position: relative; left: 12vw;
  font-size: 2.5vmin;
}
.container {
  position: absolute; top: 14vh;
  padding-bottom: 3em;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #F0F0F0;
}
th, td {
  padding: 1vmin;
  border-bottom: 1px solid #DDD;
  text-align: center;
}
.head-row {
  user-select: none;
  background-color: #FFF;
}
.head-row:hover {
  background-color: #FFF;
}
tr:hover {
  background-color: #F0F0F0;
}
tr:active {
  background-color: #BABABA;
}
