<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Patient Details</title>
    <link rel="stylesheet" href="/css/view.css">
    <link rel="stylesheet" href="/css/font.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet">
    <script src="/modules/jquery.min.js" type="module"></script>
  </head>
  <body>
    <div class="container">
      <table id="patient-table">
        <thead>
          <tr class="head-row">
            <td colspan="100%" id="date-td"></td>
          </tr>
          <th> Name </th>
          <th> Phone No. </th>
          <th> Age </th>
          <th> Sex </th>
          <th> Treatment Date </th>
          <th> Provisional Diagnosis </th>
          <th> Investigations (if any) </th>
          <th> Final Diagnosis </th>
          <th> Treatment </th>
          <th> Result </th>
          <th> Next Appointment </th>
          <th> Additional Info </th>
        </thead>
        <tbody id="patient-table-body">
        </tbody>
      </table>
      <br style="user-select:none">
      <button class="btn center-btn" onclick="makingSure()">Export for month</button>
    </div>
    <div class="modal-container" id="modal-container">
      <div class="modal-box">
        <h3 class="no-select">You are trying to export this patient list</h3>
        <hr/>
        <p class="no-select">What will happen?:</p>
        <ul>
          <li>This page will become empty</li>
          <li>You must add patient details to view anything here</li>
          <li>The current list of patients can be viewed at <a href="/whichMonth/" target="_blank">Monthly Split-up</a></li>
          <li>You will get a new <b><span id="modal-date-filename"></span>.csv</b> file</li>
        </ul>
        <p class="no-select">Are you sure you want to export?</p>
        <button type="button" name="Cancel" value="Cancel" class="btn small-btn cancel-btn" onclick="cancelExport()">Cancel</button>
        <button type="button" name="Go Ahead" value="Go Ahead" class="btn small-btn goAhead-btn" onclick="exportFn()">Go Ahead</button>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/view.js"></script>
</html>
