<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Patient Details</title>
    <link rel="stylesheet" href="/css/view.css">
    <link rel="stylesheet" href="/css/font.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet">
    <script src="/modules/jquery.min.js" type="module"></script>
  </head>
  <body>
    <div class="container">
      <table id="patient-table">
        <thead>
          <tr class="head-row">
            <td colspan="100%" id="date-td"></td>
          </tr>
          <th> Name </th>
          <th> Phone No. </th>
          <th> Age </th>
          <th> Sex </th>
          <th> Treatment Date </th>
          <th> Provisional Diagnosis </th>
          <th> Investigations (if any) </th>
          <th> Final Diagnosis </th>
          <th> Treatment </th>
          <th> Result </th>
          <th> Next Appointment </th>
          <th> Additional Info </th>
        </thead>
        <tbody id="patient-table-body">
        </tbody>
      </table>
      <br style="user-select:none">
      <button class="btn center-btn" onclick="exportFn()">Export for month</button>
    </div>
  </body>
  <script type="text/javascript" src="/js/view.js"></script>
</html>
