<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Which Month</title>
    <link rel="stylesheet" href="/css/whichMonth.css">
    <link rel="stylesheet" href="/css/font.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet">
    <script src="/modules/jquery.min.js" type="module"></script>
  </head>
  <body>
    <form class="whichMonth-form" action="" method="post">
      <label>Get details for the month of </label>
      <select id="whichMonth-choice" class="whichMonth-input-select" onmouseup="choice(this.value)">
      </select>
    </form>
    <div class="container">
      <table id="monthly-table">
        <thead>
          <tr class="head-row">
            <td colspan="100%" id="date-td"></td>
          </tr>
          <tr class="head-row">
            <td colspan="100%">PART - D</td>
          </tr>
          <tr class="head-row">
            <td colspan="5">System of Medicine</td>
            <td colspan="5">Clinic consulting Room</td>
            <td colspan="4">Tamilnadu Clinic Establishment<br>Regulation Act Registration No:</td>
          </tr>
          <tr class="head-row">
            <td colspan="3">Name of Doctor: </td>
            <td colspan="10"> </td>
          </tr>
          <tr class="head-row">
            <td colspan="3">Registration of patients</td>
            <td colspan="10"> </td>
          </tr>
          <tr class="head-row">
            <td colspan="3">Date: </td>
            <td colspan="10"> </td>
          </tr>
          <th> Name </th>
          <th> Phone No. </th>
          <th> Age </th>
          <th> Sex </th>
          <th> Treatment Date </th>
          <th> Provisional Diagnosis </th>
          <th> Investigations (if any) </th>
          <th> Final Diagnosis </th>
          <th> Treatment </th>
          <th> Result </th>
          <th> Next Appointment </th>
          <th> Additional Info </th>
          <th> Inital of the Medical Officer </th>
        </thead>
        <tbody id="monthly-table-body">
        </tbody>
      </table>
    </div>
  </body>
  <script type="text/javascript" src="/js/whichMonth.js"></script>
</html>
